#dragRow {
    text-align: right;
    padding: 2px 4px;
    border: 1px solid;
}
 ul li {
    min-width: 200px;
}
.dragging li.ui-state-hover {
    min-width: 240px;
}
.dragging .ui-state-hover a {
    color:green !important;
    font-weight: bold;
}


.connectedSortable tr, .ui-sortable-helper {
    cursor: move;
}
.connectedSortable tr:first-child {
    cursor: default;
}
.joinSortable tr, .ui-sortable-helper {
    cursor: move;
}
.joinSortable tr:first-child {
    cursor: default;
}
.ui-sortable-placeholder {
    background: yellow;
}


  #my-progressbar-container {
      
      position: relative;
      width: 200px; /* my-progressbar width */
      padding: 20px 5px 20px 5px; /* Space for progresbar-texts */
      background-color: transparent;
      
  }
  
  .progressbar-text {
      
      position: absolute;
      font-family: Arial;
      font-size: 10px;
      color: #333333;
      
  }
  
  .progressbar-text.top-right {
      
      top:5px;
      right:7px;
      
  }
  
  .progressbar-text.top-left {
      
      top:5px;
      left:7px;
      
  }
  
  .progressbar-text.bottom-right {
      
      bottom:5px;
      right:7px;
      
  }
  
  .progressbar-text.bottom-left {
      
      bottom:5px;
      left:7px;
      
  }

  
 .CSSTableGenerator {
	margin:0px;padding:0px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #009d8e 5%, #009d8e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #009d8e), color-stop(1, #009d8e) );
	background:-moz-linear-gradient( center top, #009d8e 5%, #009d8e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#009d8e", endColorstr="#009d8e");	background: -o-linear-gradient(top,#009d8e,009d8e);

	background-color:#009d8e;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #009d8e 5%, #009d8e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #009d8e), color-stop(1, #009d8e) );
	background:-moz-linear-gradient( center top, #009d8e 5%, #009d8e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#009d8e", endColorstr="#009d8e");	background: -o-linear-gradient(top,#009d8e,009d8e);

	background-color:#009d8e;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}